[submodule "src/MOM6"]
	path = src/MOM6
	url = git@github.com:ESMG/MOM6
[submodule "src/SIS2"]
	path = src/SIS2
	url = git@github.com:ESMG/SIS2
[submodule "src/FMS1"]
        path = src/FMS1
	url = https://github.com/NOAA-GFDL/FMS
[submodule "src/mkmf"]
	path = src/mkmf
	url = git@github.com:ESMG/mkmf
[submodule "src/land_null"]
	path = src/land_null
	url = git@github.com:NOAA-GFDL/land_null
[submodule "src/atmos_null"]
	path = src/atmos_null
	url = git@github.com:NOAA-GFDL/atmos_null
[submodule "src/coupler"]
	path = src/coupler
	url = git@github.com:NOAA-GFDL/coupler
[submodule "src/icebergs"]
	path = src/icebergs
	url = git@github.com:NOAA-GFDL/icebergs
[submodule "src/ice_param"]
	path = src/ice_param
	url = https://github.com/NOAA-GFDL/ice_param.git
[submodule "Bering"]
	path = Bering
	url = git@github.com:ESMG/Bering.git
[submodule "Arctic5"]
	path = Arctic5
	url = git@github.com:ESMG/Arctic5.git
[submodule "Arctic6"]
	path = Arctic6
	url = git@github.com:ESMG/Arctic6.git
[submodule "src/FMS2"]
	path = src/FMS2
	url = https://github.com/NOAA-GFDL/FMS
